body {
    background-color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    color: var(--text-color);
    font-size: 20px;
}  

.card-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 690px;
    height: 690px;
}

.border {
    border: 2px solid pink;    
    border-radius: 40%;
}

:root {
    --main-color: #e5ffff;
    --bg-color: #feecfe;
    --text-color: #f784ee;
}

.modal {
    position: fixed;
    display: none;
    z-index: 101;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: var(--main-color);
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #FFFAF1;
    width: 40%;
    z-index: 102;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
}

.modal-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.modal-title {
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto;
}

.playerName {
    width: 60%;
    display: block;
    margin: 10px auto;
}

.playerName-button {
    width: 30%;
    display: block;
    margin: 20px auto;
    color: var(--text-color);
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

.card-style {
    background-color: var(--bg-color);
    margin: 5px;
    padding: 10px;
}

.link-style { 
    outline: none;
    text-decoration: none;
    display: inline-block;
    color: var(--text-color);
} 

.link-container {
    list-style: none;
    text-align: center;
} 

a:focus {
    color: #ff35ff;
    outline: auto;
}

.button {
    width: 200px;
    height: 60px;
    background-color: var(--bg-color);
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 50px auto;
    border-radius: 50%;
}

.thead-th,
.td-template {
    width: 50%;
    color: #ff70ff;
    border-bottom: var(--text-color);
}

.table {
    width: 40%;
    margin: 100px 100px 0;
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 10%;
    padding: 20px;
}