html {
    font-family: 'DM Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    margin: 0 auto;
    width: 1366px;
}

html { box-sizing: border-box; } 

*, *:before, *:after { box-sizing: inherit; }

@font-face {
    font-family: 'DM Sans';
    src: url('fonts/dm-sans-v11-latin-regular.woff2') format('woff2'),
            url('fonts/dm-sans-v11-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #00856F;
    --bg-color: #DCE9E2;
    --text-color: #212529;
}

.link-style {
    outline: none;
    text-decoration: none;
    display: inline-block;
    color: var(--main-color);
    font-size: 16px;
} 

a:focus {
    color: black;
    outline: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    position: fixed;
    z-index: 100;
    width: 1366px;
    height: 72px;
}

.nav-box {
    display: flex;
    flex-direction: row;
    margin: 25px 0 26px;
    list-style: none;
    padding: 0;
}

.nav-link {
    margin-right: 32px;
}

.nav-link--active{
    border-bottom: 2px solid var(--main-color);
    font-weight: bold;
    color: var(--main-color);
}

.doctor-care {
    margin: 27px 0 27px 125px;
}

.agendar-button {
    background-color: var(--bg-color); 
    width: 190px;
    height: 38px;
    border: 1px solid var(--main-color);
    border-radius: 40px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: var(--main-color);
    margin: 15px 119px 26px 0;   
}

.mobile-social,
.mobile-social-items {
    display: none;
}

.title-container { 
    margin: 0;
    display:flex;
    flex-wrap: wrap; 
    width: 1366px;
    height: 678px;
    background-color: var(--bg-color);
    background-image: url(img/woman.png);
    background-position: 780px 76px;
    background-size: 420px 547px;
    background-repeat: no-repeat;
}

.whatsApp-button {
    display:inline-flex;
    cursor: pointer;
    background-color: var(--main-color);
    width: 263px;
    height: 52px;
    border-radius: 40px;
    font-size: 14px;
    padding: 16px 32px 16px 0;
    color: #FFFFFF;
}

.whatsApp-button:hover {
    background-color: var(--bg-color);
}

.img-whatsApp {
    margin-right: 18px;
    margin-left: 33px;
}

h1 {
    font-size: 52px;
    margin-bottom: 24px;
    color: var(--text-color);
    width: 605px;
    height: 136px;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    color: var(--main-color);
}

h3 {
    font-size: 40px;
    font-weight: bold;
    color: var(--text-color);
}

h4 {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 16px;
    margin-top: 0;
}

.Os-medicos {
    font-size: 18px;
    margin-bottom: 32px;
    color: #495057;
    width: 585px;
    height: 54px;
}

.boas-vindas {
    font-size: 14px;
    margin-bottom: 16px;
    margin-top: 152px;
    color: var(--main-color);
}

.introducing {
    width: 605px;
    margin-left: 123px;
}

.users-container {
    position: absolute;
    display: flex; 
    justify-content: center;
    background-color: #FFFAF1;    
    text-align: center;
    color: var(--text-color);
    width: 1120px;
    height: 210px;
    margin: 0 123px;
    top: 571px;
}

.quantity-container {
    display: flex;
    flex-direction: row;
    align-items:center;
    list-style: none;
    font-weight: bold;
    font-size: 48px;
    padding: 20px;
}

.quantity {
    display: flex;
    flex-direction: column;
    padding: 0 100px; 
}

.quantity:not(:last-child) {
    border-right: 1px solid var(--main-color);
}

.quantity-description {
    font-size: 16px;
    color: var(--main-color);
}

.help-container {
    background-color: #F7F9F9;
    text-align: center;
    width: 1366px;
    height: 1082px;
    padding-top: 263px;
}

.reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    list-style: none;
    padding-left: 123px;
}

.reviews-box {
    background-color: #FFFFFF;
    border: 1px solid var(--bg-color);
    border-radius: 6px;
    margin: 20px;
    width: 347px;
    height: 207px;
    padding: 24px;
    box-sizing:border-box;
    text-align: left;
    font-size: 14px;
}

.reviews-box:hover {
    transform: scale(1.1);
}

.img-check {
    margin-bottom: 16px;
}

.amet-help {
    width: 299px;
    height: 72px;
    font-size: 16px;
    text-align: left;
}

.link-servicos {
    font-size: 14px;     
    color: var(--main-color);
}

.como-podemos {
    margin: 16px 434px 44px;
    width: 497px;
    height: 104px;
}

.article-container {
    display: flex;
    background-color: #FFFAF1;
    width: 1366px;
    height: 734px;
}

.float-img {
    float:left;
    margin: 160px 67px 160px 123px;
}

.link-sobre-nos {
    margin-top: 203px;
}

.entenda {
    margin: 10px 249px 24px 0;
}

.amet {
    margin: 24px 123px 204px 0;
    line-height: 150%;
}

.contacts-container {
    display: flex;
    background-color: #FFFFFF;
    width: 1366px;
    height: 699px;
    padding: 160px 123px;
}

.wrapper {
    width: 575px;
    height: 379px;
}

.contacts {
    padding-right: 141px;
}

.entre {
    margin-bottom: 40px; 
    width: 404px;
    height: 104px;
}

.adress-items {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #495057;
    margin-bottom: 16px;
}

.email {
    margin-bottom: 40px;
}

.img-contact {
    margin-right: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    width: 1366px;
    height: 268px;
    padding: 80px 123px;
}

.logo-container {
    width: 370px;
}

.logo {
    margin-bottom: 24px;
}

.logo-info {
    margin-bottom: 15px;
    color: #FFFAF1;
}

.todos {
    margin-bottom: 80px;
    color: #FFFAF1;
}

.social {
    margin: 42px 20px;
}

.social-position {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.visually-hidden,
.burger-menu-bg,
.logo-mob {
    display: none;
}

@media (max-width:376px) {

    html {
        width: 375px;
        text-align: left;
    }   
    
    .visually-hidden {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }

    #burger-menu-button:checked ~ label::before,
    #burger-menu-button:checked ~ label::after {
        content: "";
        position: absolute;
        border-top: 2px solid var(--bg-color);
        width: 29px;
        top: 34px;
        right: 20px;
    }

    #burger-menu-button:checked ~ label::before {
        transform: rotate(45deg);
    }

    #burger-menu-button:checked ~ label::after {
        transform: rotate(-45deg);
    }

    #burger-menu-button:not(:checked) ~ .burger-menu {
        display: inline-block;
        border-top: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        height: 10px;
        width: 20px;
        position: absolute;
        right: 26px;
        top: 26px;
    }

    #burger-menu-button:not(:checked) ~ .burger-menu::after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 10px;
        border-bottom: 2px solid var(--main-color);
        width: 10px;
        height: 16px;
    }

    .nav-box, 
    .agendar-button,
    .logo-mob,
    #burger-menu-button:checked ~ .doctor-care {
        display: none;
    }

    #burger-menu-button:checked ~ .nav-box,
    #burger-menu-button:checked ~ .agendar-button,
    #burger-menu-button:checked ~ .burger-menu-bg,
    #burger-menu-button:checked ~ .logo-mob,
    .doctor-care {
        display: block;
    }

    .burger-menu-bg {
        position: absolute;
        background-color: var(--main-color);
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    #burger-menu-button:checked ~ .mobile-social {
        display: flex;
        flex-direction: row;
        margin-left: 121px;
        margin-top: 0;
        list-style: none;
        padding: 0;  
    }
    
    .mobile-social-items {
        display: block;
        margin-right: 41px; 
        width: 20px;
        height: 20px;
    }

    .title-container {
        width: 375px;
        height: 1080px;
        background-position: 57px 487.25px;
        background-size: 261.64px 340.75px;
        text-align: center;
    }

    .nav {
        width: 375px;
        height: 72px;
        flex-direction: column;
        text-align: center;
    }



    .nav-wrapper {
        display:flex;
        flex-direction: column;
    }

    .nav-box {
        flex-direction: column;
        padding-left: 0;
        margin: 0;
    }

    .nav-link {
        margin: 24px 0;
        color: var(--bg-color);
        font-size: 24px;
        font-weight: normal;
    }
   
    .agendar-button {
        width: 274px;
        height: 55px;
        line-height: 2.5;
        font-size: 18px;
        color: var(--main-color);
        margin: 24px 50px 82px; 
    }

    .doctor-care,
    .logo-mob {
        margin: 27px 0 27px 24px;
        align-self: flex-start;
    }

    .whatsApp-button {
        width: 263px;
        padding: 17px 32px 17px 0;
    }

    .img-whatsApp {
        margin-right: 17px;
        margin-left: 33px;
    }

    h1 {
        font-size: 34px;
        width: 327px;
        height: 132px;
    }

    h3 {
        font-size: 30px;
        width: 314px;
        height: 117px;
    }

    .Os-medicos {
        width: 327px;
        height: 108px;
    }

    .boas-vindas {
        margin-top: 81px;
        color: var(--main-color);
    }
    .introducing {
        width: 327px;
        margin-left: 24px;
    }

    .users-container {
        width: 327px;
        height: 470px;
        margin: 0 24px;
        top: 828px;
    }

    .quantity-container {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 4px;
    }

    .quantity {
        padding: 0 80px; 
    }

    .quantity:not(:last-child) {
        border: 0;
    }

    .quantity-description {
        margin-bottom: 60px;
    }

    .help-container {
        width: 375px;
        height: 2034px;
        padding-top: 318px;
    }

    .reviews {
        padding-left: 24px;
    }

    .reviews-box {
        margin: 0 0 32px 0;
        width: 327px;
        font-size: 16px;
    }

    .amet-help {
        width: 279px;
    }

    .como-podemos {
        margin: 16px 31px 60px;
        width: 314px;
        height: 117px;
        font-size: 30px;
    }

    .article-container {
        flex-direction: column;
        width: 375px;
        height: 969px;
    }
    
    .article-container :nth-child(1) { order: 2; }
    .article-container :nth-child(2) { order: 1; }

    .float-img {
        width: 327px;
        height: 282px;
        margin: 0 24px 100px;
    }

    .link-sobre-nos {
        margin-top: 100px;
        margin-left: 23px;
    }

    .entenda {        
        width: 327px;
        height: 78px;
        margin: 0 24px 24px;
    }

    .amet {
        margin: 0 24px 60px;
        width: 327px;
        height: 288px;
    }

    .contacts-container {
        flex-direction: column;
        width: 375px;
        height: 735px;
        padding: 0 24px;
    }

    .contacts {
        padding-right: 54px;
        flex-direction: row;
    }

    .wrapper {
        width: 324px;
        height: 213px;
    }

    .entre {
        margin: 100px 54px 32px 0;
        width: 297px;
        height: 78px;
    }

    .email {
        margin-bottom: 32px;
    }

    .img-man {
        width: 324px;
        height: 213px;
        margin: 60px 24px 100px 0;
    }

    .footer-container {
        flex-direction: column;
        justify-content:left;
        width: 375px;
        height: 285px;
        padding: 60px 113px 62px 24px;
    }

    .logo-info {
        margin-bottom: 12px;
    }

    .todos {
        margin-bottom: 34px;
    }

    .social-position {
        margin: 0;
        padding: 0;
    }

    .social {
        margin-right: 41px;
        margin: 0 41px 30px 0;
    }

}




