html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 10px;
}

thead th{
    color: grey;
    border-bottom: 1px solid grey;
    padding: 20px 0;
    text-align: left;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tr:nth-of-type(2n+1) {
    font-weight: bold;
}

/* Не получается сделать ширину */
td:nth-of-type(3){
    width: 40%;
}

tbody td {
    text-align: left;
}

tfoot th {
    text-align: right;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;   
}
  
.statusDone {
    color: green;
}

.statusPending {
    color: orangered;
}

.optionButton {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 0;
    outline: none;
    border: 0;
    background: transparent;
    line-height: 0.5;
}

ul {
    padding: 0;
    width: 100%;
}
  
li {
    overflow: hidden; 
    float: left;
    margin: 5px;
}
  
a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: black;
}
  
.circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    text-align: center;
}

.BigPrice {
    font-size: 14px;
}
